<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">\
<head th:insert="blocks/head :: head"></head>
<body>
<div class="container">
    <header th:insert="blocks/header :: header"></header>
</div>

<main role="main" class="container">
    <div th:each="item : ${post}" class="alert alert-info mt-2">
        <h2 th:text="${item.title}" />
        <p th:text="${item.text}" />
        <p><b>Reviews: </b><span th:text="${item.reviews}" /></p>
        <a th:href="'/blog/' + ${item.id} + '/edit'" class="btn btn-warning" />Edit</a><br><br>
        <form th:action="'/blog/' + ${item.id} + '/delete'" method="POST">
            <button class="btn btn-warning d-flex" type="submit">Delete</button>
        </form>
    </div>
</main><!-- /.container -->
<footer th:insert="blocks/footer :: footer"></footer>
</body>
</html>